$boxSize: 30px;

.tableContainer {
  margin: 20px;
}

.box {
  border: 1px solid black;
  width: $boxSize;
  height: $boxSize;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.emptyBox {
  width: $boxSize;
  height: $boxSize;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.emptyBoxBorderBlue {
  border: 1px solid #3986f2;
}

.emptyBoxBorderWhite {
  border: 1px solid white;
}

.borderSet {
  border: 1px solid black;
}

.box:hover {
  border: 1px solid red;
}

.horizontalBorder {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.blue {
  background-color: #3986f2;
}

.grey {
  background-color: slategray;
}

.black {
  background-color: black;
  color: white;
}

.letterStyle {
  font-weight: bold;
  font-size: x-large;
}

.surfaceInterval {
  font-size: smaller;
}
